.menu-cell {
  border-color: grey;
  border-style: solid;
  border-width: 2px;
  display: flex;
  width: 1160px;
  height: 250px;
  margin-top: 50px;
}

.menu-cell__img {
  width: 252px;
  height: 252px;
}

.menu-cell__info {
  display: flex;
  justify-content: space-between;
  width: 910px;
}

.menu-cell__info__column {
  flex-direction: column;
  margin: 20px;
}

.menu-cell__info__title {
  font-size: 64px; 
  font-family: "Just Another Hand";
  color: grey;
  margin: 0px;
}

.menu-cell__info__description {
  font-size: 48px;
  font-family: "Just Another Hand";
  color: grey;
  width: 700px;
  margin: 0px;
}

.menu-cell__info__details {
  font-size: 48px;
  font-family: "Just Another Hand";
  color: red;
  margin: 0px;
}